<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Projeto</servlet-name>
		<servlet-class>cp.com.ProjetoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Projeto</servlet-name>
		<url-pattern>/projeto</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jogador</servlet-name>
		<servlet-class>cp.com.JogadorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jogador</servlet-name>
		<url-pattern>/jogador</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jogadores</servlet-name>
		<servlet-class>cp.com.JogadoresServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jogadores</servlet-name>
		<url-pattern>/jogadores</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PostFormData</servlet-name>
		<servlet-class>cp.com.PostFormDataServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PostFormData</servlet-name>
		<url-pattern>/postformdata</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
